---
interface Props {
  data: string;
	title: string;
	link: string;
  image: string;
}

const {title, link, data, image} = Astro.props;
---

<div class="flex-col gap-4 w-full shadow-xl hidden"> 
  <div class="grid h-80 bg-cover bg-center" style={{backgroundImage: `url('/images/${image}')`}}>

    <div class="self-start place-self-end p-2 px-4 bg-orange font-semibold font-roboto text-sm">{data}</div>
    <div class="self-end flex">
      <div class="text-white bg-black/60 w-auto flex-grow p-2 py-4 px-4 font-semibold">{title}</div>
      <div class="text-white bg-orange w-[38px] p-2 py-2 flex items-center justify-center text-2xl">
        <a class=" flex justify-center items-center text-[1.2rem]" href={link}>
          <i class=" fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>

</div>


<div class="flex-col gap-4 w-full shadow-xl group hidden"> 
  <div class="grid h-[30rem] bg-cover bg-center relative overflow-hidden" style={{backgroundImage: `url('/images/${image}')`}}>

    <div class="self-start place-self-end p-2 px-4 bg-black/60 font-semibold">{data}</div>

    <a href="" class="absolute -bottom-[10.5rem] md:group-hover:bottom-0 transition-all duration-300 ease-out text-offwhite">

      <div class="flex justify-between bg-black/70 font-bold uppercase">
        <p class="p-4">Test</p>
        <span class="flex justify-center items-center text-[1.2rem] bg-white/20 p-4">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
      </div>

      <div class="p-6 bg-black/60 hidden">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea laboriosam quis non quam quasi? Amet numquam nobis doloremque culpa provident, sunt animi totam earum aliquid obcaecati. Totam, commodi eos!
      </div>

      <div class="p-6 bg-offwhite text-gray-700">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea laboriosam quis non quam quasi? Amet numquam nobis doloremque culpa provident, sunt animi totam earum aliquid obcaecati. Totam, commodi eos!
      </div>

    </a>


  </div>

</div>



<div class="flex flex-col gap-4 w-full shadow-xl group overflow overflow-hidden relative transition-all duration-1000"> 
  <div class="grid h-[30rem] xl:h-[36rem]  bg-cover bg-center relative ">

    <div class="absolute inset-0 lg:group-hover:scale-125 bg-center bg-cover transition-all duration-500 lg:group-hover:blur-[0px]" style={{backgroundImage: `url('/images/${image}')`}}></div>

    <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-80 transition-opacity duration-700"></div>

    <div class="self-start place-self-end m-4 p-2 px-4 bg-orange shadow-xl font-semibold text-white relative z-40">{data}</div>

    <a href="" class="self-end relative z-50 transition-all duration-300 ease-out text-offwhite">

      <div class="flex justify-between font-bold uppercase">
        <p class="flex-grow p-4 bg-orange/90">Volta a Ilha Grande</p>
        <span class="flex justify-center items-center text-[1.2rem] bg-gray-100 text-orange lg:group-hover:bg-orange/90 lg:group-hover:text-white transition-all duration-300 p-4">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
      </div>

      <div class="text-gray-700 max-h-0 lg:group-hover:max-h-96 transition-all duration-700 ease-in-out">
        <div class="p-6 bg-offwhite">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea laboriosam quis non quam quasi? Amet numquam nobis doloremque culpa provident, sunt animi totam earum aliquid obcaecati. Totam, commodi eos!
        </div>
      </div>

    </a>


  </div>

</div>
